<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Peetify, <%= @user.name %></h1>
    <p>
      Your token for api auth is: <%= @user.token %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
